<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body  ng-app="b3" ng-controller="ctr1">
    <form name="frm" class="col-5 mx-auto border border-primary" style="margin-top: 10px;">
        <div class="form-group">
            <label>Tên SP</label>
            <input name="tensp" ng-model="tensp" required minlength="2" maxlength="30" class="form-control bg-primary">
            <em ng-if="frm.tensp.$invalid" class="text-danger h6">Nhập tên sản phẩm từ 2 đến 30 ký tự</em>
        </div>
        <div class="form-group">
            <label>Số lượng</label>
            <input name="soluong" ng-model="soluong" type="number" min="1" max="100" required class="form-control bg-warning" >      
            <em ng-if="frm.soluong.$invalid || soluong>100" class="text-danger h6">Nhập số lượng từ 1 đến 100</em>
        </div>
        <div class="form-group">
            <label>Nhà sản xuất</label>
            <select name="nsx" ng-model="nsx" class="form-control" required>
                <option value="0">Chọn NSX</option>
                <option value="1">Samsung</option>
                <option value="2">Toshiba</option>
                <option value="3">HTC</option>
            </select>
            <em ng-if="!nsx || nsx==0" class="text-danger h6">Hãy chọn 1 nhà sx</em>
        </div>
        <div class="form-group">
            <label>Tình trạng</label>
            <fieldset class="border border-secondary p-3" required>
                <input ng-model="tinhtrang"  name="tinhtrang" type="radio"  value="1"> Hàng cũ &nbsp;
                <input ng-model="tinhtrang"  name="tinhtrang" type="radio"  value="2"> Hàng mới
                <em ng-if="!tinhtrang" class="text-danger h6"><br>Hàng cũ hay mới?</em>
            </fieldset>
        </div>
        <div class="form-group">
            <label>Màu sắc</label>
            <fieldset class="border border-secondary p-3" required>
                <input ng-model="maudo" value="do" type="checkbox"> Đỏ &nbsp;   
                <input ng-model="mauden" value="den" type="checkbox"> Đen  &nbsp; 
                <input ng-model="mautrang" value="trang" type="checkbox"> Trắng 
                <em ng-if="!maudo && !mauden && !mautrang " class="text-danger h6"><br>Màu gì vậy?</em> 
            </fieldset>
        </div>
        <div class="form-group">
            <em id="hienthongbao"><b ng-if="!frm.$invalid && (maudo || mauden || mautrang) && (nsx==1 || nsx==2 || nsx==3 ) && (tinhtrang)" >Chúc mừng! Bạn đã nhập đúng. </b></em>
        </div>
        <div class="form-group">
            <button  class="btn btn-info" onclick="chuyen()">Nhập sản phẩm</button>
        </div>
    </form>
    </body>
    
</html>
<script>
    app= angular.module("b3",[]);
    app.controller("ctr1",xuly);
    function xuly($scope){
    }
</script>
<script>
    function chuyen() {
        var a = document.getElementById('hienthongbao').innerText;
        console.log(a);
        if(a != ''){
            setTimeout(() => {
            window.location.replace("https://longnv.name.vn");
        }, 2000);
        }
        
    }
</script>

